@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-site-blue: #4169E1;
  /* Royal Blue */
  --color-site-cyan: #00FFFF;
  /* Cyan */

  --font-heading: 'Outfit', sans-serif;
  --font-body: 'Inter', sans-serif;
}

@layer base {
  /* Google Fonts Import */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@500;700;800&display=swap');

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body text-gray-800 bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-gray-900;
  }
}